table {
    font-family: Times, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  th {
    text-align: center;
  }
  td, th {
    border: 1px solid black;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }